// Variables for the project

/* Theme main colors */
$color-blue-lead: #05f;
$color-blue-light: #538cff;
$color-blue-dark: #010527;

$color-gray-medium: #8491ab;
$color-gray-light: #edf2f5;
$color-white: #ffffff;

/* Font sizes */
$font-size-default: 16px;
$font-size-heading-extra-huge: 60px;
$font-size-heading-huge: 50px;
$font-size-heading-super-large: 42px;
$font-size-heading-large: 34px;
$font-size-sub-heading: 26px;
$font-size-heading: 20px;
$font-size-large: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-tiny: 11px;
$font-size-mini: 10px;
$font-size-micro: 6px;

/* Global margins */
$length-gap-huge: 45px;
$length-gap-large: 30px;
$length-gap-medium: 25px;
$length-gap-small: 20px;
$length-gap-tiny: 15px;
$length-gap-mini: 10px;
$length-gap-micro: 5px;
$length-gap-nano: 2px;

/* Font weight */
$font-weight-light: 300;
$font-weight-default: 500;
$font-weight-medium-bold: 500;

/* Breakpoints */
$desktop-width: 1024px;
$tablet-width: 768px;
